pandas==2.0.1
pyarrow==12.0.0
polars==0.17.15
pushbullet.py~=0.12.0
pycoingecko~=3.1.0
python-binance
ccxt==3.1.9
scikit-learn~=1.2.2
scikit-learn-intelex
websocket-client==1.5.2
numpy==1.24.3
plotly~=5.14.1
joblib~=1.2.0
pytz~=2023.3